<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/grocery</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">h@slo123</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <!-- Classes: -->
    <mapping resource="com/store/resources/hibernate/Order.hbm.xml"/>
    <mapping resource="com/store/resources/hibernate/Purchase.hbm.xml"/>
    <mapping resource="com/store/resources/hibernate/Category.hbm.xml"/>
    <mapping resource="com/store/resources/hibernate/Product.hbm.xml"/>
    <mapping resource="com/store/resources/hibernate/Salesman.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
